.common-modal-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.common-modal-header::before, .common-modal-header::after { 
  content: none;
}

.modal-header button.close {
  color: #f4ff71 !important;
}

.modal-content {
  background-color: #666e8f !important;
}

.common-modal {
  color: white !important;
}

.cta-button {
  background-color: #394060;
  color: #FAFFBD;
  border-color: #FAFFBD;
  font-size: 1.8rem;
}

.cta-button:hover, .cta-button:focus {
  background-color: #FAFFBD;
  color: #394060;
  border-color: #394060;
}

 @media (min-width: 768px) {
  .common-modal {
    width: 50rem;
  }
}
